p {
    color: blue;
  }
  
p {
    color: rgb(0, 0, 255);
  }
  
  p {
    color: #0000ff;
  }
  
  p {
    color: hsl(240, 100%, 50%);
  }
  
  body {
    opacity: 0.3;
  }
  
  body {
    background-color: rgba(19, 12, 162, 0.3);
  }