* {
    padding: 0;
    margin: 0;
    font-family: 'Newsreader', serif;
    box-sizing: border-box;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    font-size:x-large;
    background-image: linear-gradient(120deg, #fdfafa 0%, #ebedee 100%);
    color: black;
    border-bottom: 2px solid #000;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: red;
}

ul {
    display: flex;
    list-style-type:none;
    line-height: 40px;
}

li {
    margin: 0 20px 0 0;
}

/* .cart {
    display: flex;
    align-items: flex-start;
} */

main {
    margin: 20px 0;
    width: 100%;
    min-height: calc(100vh - 302px);
}

.container {
    width: 900px;
    margin: 0 auto;
    
}

.f-center {
    display: flex;
    justify-content: center;
}

.content h2 {
    font-size: 30px;
    margin: 20px 0;
}

.content p {
    font-size: 20px;
}

.phh picture img {
    display: block;
    margin: 20px auto;
    width: 600px;
    height: 300px;
}

/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    font-size:x-large;
    background-image: linear-gradient(120deg, #fdfafa 0%, #ebedee 100%);
    color: black;
    border-top: 2px solid #000;
}

.foot {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: flex-start;

}

.ft {
    display: flex;
    font-size: x-large;
    margin: 20px 0;
    justify-content: center;

}

.ft-ul {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.fab:hover {
    color:red;  
}

.feed {
    margin-bottom: 20px;
}

.ft-ul-social {
    display: flex;
    justify-content: space-around;
}

.pul {
    list-style-type: square;
}